html body {
    font-size: 18px;
    font-weight: 300;
    font-family: 'Noto Sans JP', sans-serif;
}

.base {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.vertical-middle {
    display: table-cell;
    vertical-align: middle;
}

.horizontal-middle {
    margin-left: auto;
    margin-right: auto;
}

.center-text {
    text-align: center;
}

.center-box {
    text-align: left;
    display: inline-block;
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 48px;
}

h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 32px;
}

h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 24px;
}

h4 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 300;
    font-size: 24px;
}

/*pc*/
@media screen and (min-width: 600px) {
    .mobile { display: none; }

    hr {
        width:70%
    }

    .horizontal-middle {
        width: 75%;
    }

    .preview-image-wide {
        width: 75%;
        object-fit: cover;
    }
}

/*mobile*/
@media screen and (max-width: 600px) {
    .no-mobile { display: none; }

    hr {
        width:100%
    }

    .horizontal-middle {
        width: 90%;
    }

    .preview-image-wide {
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
    }
}

@media screen and (max-height: 600px) {
    html body {
        overflow: visible;
    }
}