html body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.topcenter {
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;

    font-family: 'Noto Sans JP', sans-serif;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 50vh;

    font-family: 'Noto Sans JP', sans-serif;
}