body {
    margin: 0;
    height: 100%;
    overflow: hidden;

    font-size: 18px;
    font-weight: 300;
    font-family: 'Noto Sans JP', sans-serif;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}