---
const { title } = Astro.props;
---

<head>
    <meta charset="UTF-8">
    <meta name="description" content="TESSHI-e氏製作「MILD ESCAPE」のアーカイブサイト / An archive of TESSHI-e's MILD ESCAPE games.">
    <meta name="keywords" content="KabanFriends">
    <meta name="author" content="KabanFriends">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta http-equiv="content-language" content="ja">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{title}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;500&display=swap" rel="stylesheet">

    <link rel="shortcut icon" href="/mildescape-favicon.ico">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
</head>